<h1>Membership Index</h1>
<% if @team %>
  <h2>Role index for <%= @team.name %></h2>
  <% @team.memberships.order_by_role.each do |membership| %>
    <ul>
      <li><%= membership.role %></li>
    </ul>
  <% end %>
<% end %>