<h1>Hello World</h1>
<ul>
  <li>2 You realize that all your life you have been coasting along as if you were in a dream. Suddenly, facing the trials of the last few days, you have come alive.</li>
  <li>3	You realize that you are catching on to the secret of success. It's just a matter of concentration.</li>
  <li>4	You've done things the hard way. But without taking risks, taking responsibility for failure... how could you have understood?</li>
  <li>5	Everything you do is just a bit easier, more instinctive, more satisfying. It is as though you had suddenly developed keen senses and instincts.</li>
  <li>6	You've learned a lot about Cyrodiil... and about yourself. It's hard to believe how ignorant you were, but now you have so much more to learn.</li>
  <li>7	You resolve to continue pushing yourself. Perhaps there's more to you than you thought.</li>
  <li>8	The secret does seem to be hard work, yes, but it's also a kind of blind passion, an inspiration.</li>
  <li>9	So that's how it works. You plod along, putting one foot before the other, look up, and suddenly, there you are. Right where you wanted to be all along.</li>
  <li>10	You woke today with a new sense of purpose. You're no longer afraid of failure. Failure is just an opportunity to learn something new.</li>
  <li>11	Being smart doesn't hurt. And a little luck now and then is nice. But the key is patience and hard work.</li>
  <li>12	You can't believe how easy it is. You just have to go... a little crazy. And then, suddenly, it all makes sense, and everything you do turns to gold.</li>
  <li>13	It's the most amazing thing. Yesterday it was hard, and today it is easy. Just a good night's sleep, and yesterday's mysteries are today's masteries.</li>
  <li>14	Today you wake up, full of energy and ideas, and you know, somehow, that overnight everything has changed. What a difference a day makes.</li>
  <li>15	Now you just stay at your peak as long as you can. There's no one stronger in Tamriel, but there's always someone younger... a new challenger.</li>
  <li>16	You've been trying too hard, thinking too much. Relax. Trust your instincts. Just be yourself. Do the little things, and the big things take care of themselves.</li>
  <li>17	Life isn't over. You can still get smarter, or cleverer, or more experienced, or meaner... but your body and soul just aren't going to get any younger.</li>
  <li>18	With the life you've been living, the punishment your body has taken... there are limits, and maybe you've reached them. Is this what it's like to grow old?</li>
  <li>19	You're really good. Maybe the best. And that's why it's so hard to get better. But you just keep trying, because that's the way you are.</li>
  <li>20	By superhuman effort, you can avoid slipping backwards for a while. But one day, you'll lose a step, or drop a beat, or miss a detail... and you'll be gone forever.</li>
  <li>21+	The results of hard work and dedication always look like luck. But you know you've earned every ounce of your success.</li>
</ul>