<h1>Tasks Index</h1>
<div class="content">
  <% if @list %>
    <h2>Tasks for <%= @list.summary %></h2>  
    <% @list.tasks.each do |task| %>
      <ul>
        <li><%= link_to task.summary, task_path(task) %></li>
      <ul>
    <% end %>
  <% else %>
    <h2>Tasks by List</h2>
    <% @lists.each do |list| %>
      <ul>
        <h3><%= link_to list.summary, list_path(list) %></h3>
        <% list.tasks.each do |task| %>
        <ul>
          <li><%= link_to task.summary, task_path(task) %></li>
        <% end %>
        </ul>
      </ul>
    <% end %>
  <% end %>
</div>